body{
    padding: 0;
    margin: 0;
}
.allDivs{
    display: flex;
    background-color: crimson;
}
.books{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(189, 189, 189);
}
/*book block*/
.book{
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 4px;
    border: 1px rgb(172, 167, 167) solid;
    border-radius: 10%;
    height: 200px;
    width: 200px;
    background-color: rgb(185, 223, 224);
}
/*inside book*/
.book div{
    height: 45px;
    display: flex;
    align-items: center;
}
.book div:first-child{
    height: 20px;
    width: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    border-left: inherit;
    border-bottom: inherit;
    border-bottom-left-radius: 5px;
}
#tog{
    cursor: pointer;
    height: 45px;
    width: 50px;
}
/* text input*/
.textInput{
    display:flex;
    flex-direction: column;
}
input[type=text]{
    height: 3vh;
    width: 200px;
    background-color: cadetblue;
    border:none;
    border: 1px oldlace solid;
    border-radius: 5px;
}
input[type=text]:focus {
    outline: none;
}
/*radio input*/
input[type=radio] {
    border: 1px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
}
input[type=radio]:checked {
    background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
    background-size: 9px 9px;
}
input[type=radio]:focus {
    outline-color: transparent;
}
.newB{
    background-color: rgb(12, 107, 170);
    height: 100vh;
}
.newB form{
    display: none;
}
