* { 
    padding: 0; 
    margin: 0;
}
html, body {
    min-height: 100%;
    height: 100%;
}
body{
    font-family: Arial, sans-serif;
    /*font-family: 'Quicksand', sans-serif;*/
    font-weight: 500;
}
.allDivs{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto;
    height: 100%;
}
.books{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    flex-grow: 1;
    background-color: rgb(224, 222, 222);
}
hr{
    border:0;
    margin:0;
    width:100%;
    height:1px;
    background: #e98401;
}
/*header*/
.header{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:3px solid #e98401;
}
/*sidebar*/
.sidebar{
    grid-column: 1/2;
    grid-row: 2/2;
    border-right: 2px solid #e98401;
}
/*new book button*/
.addBook{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addBook button{
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #e98401;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.addBook button:hover{
    background-color: #e98401;
}
/*stats*/
.stats{
    padding:25px 0 0 25px;
}
.stats ul{
    list-style-type: none;
}
.stats li{
    padding: 5px 0;
}
/*book block*/
.books input[type=text]{
    height: 30px;
    width: 100%;
}
.books label{
    padding-left: 5px;
}
.book{
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 4px;
    border: 1px rgb(172, 167, 167) solid;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
}
/*inside book*/
.saveButton{
    display: none;
    border: 1px solid rgb(172, 167, 167);
    border-radius: 2px;
    font-size: 14px;
    padding: 0 2px;
    cursor: pointer;
}
.book .dropdown{
    justify-content: flex-end;
    user-select: none;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 5px;
    /*border-left: inherit;
    border-bottom: inherit;
    border-bottom-left-radius: 5px;*/
}
.dropdown-button{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.book .dropcontent{
    display: none;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    padding:0;
    font-size: 14px;
    top:20px;
    z-index: 1;
    overflow: auto;
    min-width: 75px;
    background-color: rgb(255, 255, 255);
}
.dropcontent span{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left:5px;
    cursor: pointer;
}
.dropcontent span:hover{
    background-color: rgb(179, 179, 179);
}
.book div{
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    white-space: nowrap;
    padding-right: 5px;
}
.child1{
    font-weight: 600;
}

#tog{
    cursor: pointer;
    height: 45px;
    width: 50px;
}

/*overlay background*/
.overlay{
    display: none;
    /*align-items: center;*/
    justify-content: center;
    height: 100%;
    width: 100%;
    /*background-color: rgb(134, 145, 156);*/
    background-color: rgba(134, 145, 156, 0.788);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    transition: 200ms;
}
/*overlay content*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    position: relative;
    top: 15%;
    background-color: rgb(224, 222, 222);
    border-radius: 10%;
}
form div{
    margin: 8px;
}
/* text input*/
.textInput{
    display:flex;
    flex-direction: column;
}
input[type=text]{
    height: 30px;
    font-size: 21px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border:none;
    border: 1px oldlace solid;
    border-radius: 5px;
}
input[type=text]:focus {
    outline: none;
}
/*radio input*/
input[type=radio] {
    border: 1px solid rgb(0, 0, 0);
    padding: 6px;
    background-color: rgb(224, 222, 222);
    -webkit-appearance: none;
}
input[type=radio]:checked {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) no-repeat center center;
    background-size: 10px 10px;
    background-color: rgb(224, 222, 222);
}
input[type=radio]:focus {
    outline-color: transparent;
}
/*buttons add cancel*/
.submitCancel{
    display: flex;
    justify-content: space-between;

}
input[type=button], input[type=submit]{
    width: 150px;
    height: 45px;
    border: 1px grey solid;
    border-radius: 2px;
    -webkit-appearance: none;
    transition: 250ms;
}
input[type=button]:hover, input[type=submit]:hover{
    background-color: rgb(173, 166, 166);
    cursor: pointer;
}



